{% extends 'base.html' %}
{% block title %} Replica Projet Contacts {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/contacts.css') }}">
<script type="text/javascript"  src="{{ url_for('static', filename= 'js/contacts.js') }}" defer></script>
{% endblock %}
{% block service_name %}
<p>Contacts</p>
{% endblock %}
{% block left_side %}
<div class="contacts-lists">
    <input type="radio" id="contactChoice1"
    name="contact-list" value="contacts" checked>
    <label for="contactChoice1"><p>People</p></label>
    <input type="radio" id="contactChoice2"
    name="contact-list" value="strava">
    <label for="contactChoice2"><p>Strava athletes</p></label>
    <input type="radio" id="contactChoice3"
    name="contact-list" value="google">
    <label for="contactChoice3"><p>Google contacts</p></label>
</div>
{% endblock %}
{% block main_content %}
<div class="main-grid">
    <div class="search-bar">
        <input id="search-field" type="text" placeholder="Search">
    </div>
    <div class="scroll">
    <div class="contact-list">
        <div class="no-contact contact-item hidden">
            <div class="spacer"></div>
            <h3>There is no contacts in this section</h3>
            <div class="spacer"></div>
        </div>
        <div class="people-contact contact-item hidden">
            <img class="profile">
            <p class="full-name"></p>
            <div class="spacer"></div>
            <p class="relation"></p>
            <p class="age"></p>
            <div>
                <p class="phone-number"></p>
                <p class="email"></p>
            </div>
        </div>
        <div class="strava-contact contact-item hidden">
            <img class="profile">
            <div>
                <a target="_blank" href=""><p class="full-name"></p></a>
                <p class="people-name"></p>
            </div>
            <div class="spacer"></div>
            <p class="location"></p>
            <img src="{{url_for('static', filename= 'images/plus_icon.svg')}}" class="plus-btn hidden">
        </div>
    </div>
</div>
</div>
{% endblock %}
