{% extends 'base.html' %}
<h1>{% block title %} Replica Projet {% endblock %}</h1>
{% block main_content %}
<link rel="stylesheet" href="../static/css/calendar.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto">
<button id="previous-week-bt"><</button>
<button id="next-week-bt">></button>
<div id="calendar">
    <div id="event-details" class="hidden">
        <div class="event-actions"></div>
        <div class="event-informations">
            <p class="summary"></p>
            <p class="date"></p>
            <p class="description"></p>
        </div>
    </div>
</div>
<script type="text/javascript"  src="{{ url_for('static', filename= 'js/script.js') }}"></script>
{% endblock %}
{% block left_side %}
<div id="calendar-list">
    <div class="calendar-list-header">
        <p>Calendars</p>
        <input class="calendar-list-view-desactivated" type="checkbox" />
    </div>
    <div class="calendar-item hidden" id="0">
        <input class="calendar-checkbox" type="checkbox" checked="checked"/>
        <p></p>
        <div class="calendar-settings-btn">
        </div>
    </div>
    <div class="hidden" id="calendar-settings" style="display: none">
        <button id="desactivate-cal-btn">X</button>
        <input type="text" class="name" name="name" size="10">
        <div id="color-picker"></div>
    </div>
</div>
<button id="refresh-calendars">Refresh calendars</button>
{% endblock %}
