{% extends 'base.html' %}
{% block title %} Replica Projet Calendar {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/calendar.css') }}">
<script type="text/javascript"  src="{{ url_for('static', filename= 'js/calendar.js') }}" defer></script>
{% endblock %}
{% block main_content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto">
<link rel="stylesheet" href="https://d3nn82uaxijpm6.cloudfront.net/assets/strava-app-icons-fa3fdac6f7176ca3c56d1a1a73d98313b75fa8a16dbd46ed98ccd64df773ca4d.css">
<button id="previous-week-bt"><</button>
<button id="next-week-bt">></button>
<div id="calendar">
    <div id="event-details" class="hidden">
        <div class="event-actions"></div>
        <div class="event-informations">
            <p class="date"></p>
            <h2 class="summary"></h2>
            <p class="description"></p>
            <div class="strava-details" style="display:none">
                <div class="social" style="display: grid;grid-auto-flow: column; margin-bottom: 1rem;">
                    <div class="kudos">
                        <div class="app-icon-wrapper">
                            <div class="app-icon icon-kudo icon-color"></div>
                        </div>
                        <span class="count">0</span>
                    </div>
                    <div class="comments">
                        <div class="app-icon-wrapper">
                            <div class="app-icon icon-comment icon-color"></div>
                        </div>
                        <span class="count">0</span>
                    </div>
                    <div class="athletes">
                        <div class="app-icon-wrapper">
                            <div class="app-icon icon-group icon-color"></div>
                        </div>
                        <span class="count">0</span>
                    </div>
                    <a class="link" target="_blank">
                        <div class="app-icon-wrapper">
                            <div class="app-icon icon-strava icon-color"></div>
                        </div>
                        <span>View On Strava</span>
                    </a>
                </div>
                <div class="activity-stats">
                    <div class="distance">
                        <strong>000</strong>
                        <div class="label">Distance</div>
                    </div>
                    <div class="time">
                        <strong>000</strong>
                        <div class="label">Moving Time</div>
                    </div>
                    <div class="elevation">
                        <strong>000</strong>
                        <div class="label">Elevation</div>
                    </div>
                    <div class="avg-power">
                        <strong>000</strong>
                        <div class="label">
                            Avg Power
                        </div>
                    </div>
                    <div class="energy">
                        <strong>000</strong>
                        <div class="label">
                            Energy Output
                        </div>
                    </div>
                    <div class="speed">
                        <strong>000</strong>
                        <div class="label">
                            Avg Speed
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block left_side %}
<div id="calendar-list">
    <div class="calendar-list-header">
        <p>Calendars</p>
        <input class="calendar-list-view-desactivated" type="checkbox" />
    </div>
    <div class="calendar-item hidden" id="0">
        <input class="calendar-checkbox" type="checkbox" checked="checked"/>
        <p></p>
        <div class="calendar-settings-btn">
        </div>
    </div>
    <div class="hidden" id="calendar-settings" style="display: none">
        <button id="desactivate-cal-btn">X</button>
        <input type="text" class="name" name="name" size="10">
        <div id="color-picker"></div>
    </div>
</div>
<button id="refresh-calendars">Refresh calendars</button>
{% endblock %}
