
.contacts-lists {
    margin: 0 15%;
}

.contacts-lists input {
    display: none;
}

.contacts-lists label {
    display: block;
    border-radius: 1rem;
    margin: 1rem 0;
}

.contacts-lists label:hover {
    background-color: var(--back-color-1);
}

.contacts-lists label p {
    vertical-align: middle;
    padding: 0.3rem 1rem;
    color: var(--font-color-1);
    font-size: x-large;
    margin: auto 0;
}

.contacts-lists input:checked + label {
    background-color: var(--back-color-1);
    box-shadow: 0 0 1rem 0.2rem black;
}

.main-grid {
    text-align: center;
    height: 100%;
}

.search-bar input {
    margin: 0.2rem;
    width: 60%;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--front-color-1);
    border: none;
    font-size: large;
}

.scroll {
    height: inherit;
    overflow: scroll;
    width: auto;
}

.contact-list {
    height: min-content;
    display: grid;
    gap: 1rem;
    margin: 0 20%;
    margin-top: 2rem;
}

.contact-item {
    border-radius: 2rem;
    padding: 0.4rem;
    background-color: var(--front-color-2);
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.396);
    font-size: medium;
    /* padding-right: 1rem; */
}

.contact-item:hover {
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.715);
}

.contact-item * {
    text-overflow: clip;
    color: var(--font-color-1);
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    grid-row: 1;
    margin: auto 0;
}

.contact-item .spacer {
  flex-grow: 1;
}

.contact-item .header {
    display: flex;
    gap: 0.5rem;
}

.contact-item .header img {
    width: 3rem;
    height: 3rem;
    clip-path: circle(50%);
}

.contact-item .header .full-name {
    font-size: x-large;
}

.contact-item .header a {
    text-decoration: none;
}

.contact-item .header .people-name {
    font-size: medium;
    color: var(--font-color-2);
}

.contact-item .details {
    margin-top: 0.4rem;
    border-top: solid 0.1rem var(--font-color-1);
    padding-top: 0.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.contact-item .details button {
    background-color: transparent;
    border: solid 0.2rem var(--back-color-1);
    border-radius: 0.3rem;
}

.contact-item .details button:active {
    background-color: var(--back-color-2);
}

.contact-item .details ul {
    max-height: 10rem;
    overflow: scroll;
    padding: 0;
}

.contact-item .details .common-activity {
    background-color: unset;
    box-shadow: unset;
}

.contact-item .details .common-activity a {
    text-decoration: unset;
    display: flex;
    gap: 0.5rem;
}

.contact-item .details .common-activity:hover {
    border-bottom: solid 0.1rem var(--font-color-1);
}
