:root {
    --overlay-depth: 1;
}

body {
    display: grid;
    grid-template-columns: max-content;
}

.left-side {
    grid-column: 1;
    width: auto;
}

.main-content {
    grid-column: 2;
}

.calendar-item {
    display: grid;
    grid-template-columns: min-content;
}

.calendar-item * {
    grid-row: 1;
    align-self: center;
}

.calendar-checkbox {
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid black;
    border-radius: 0.15em;
}

.calendar-item p {
    width: max-content;
    text-align: left;
    margin: 0.3rem;
}

.calendar-settings-btn {
    justify-self: right;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid black;
    border-radius: 0.15em;
    background-color: aliceblue;
}

#calendar-settings {
    position: absolute;
    z-index: var(--overlay-depth);
    background: #515151;
    border-radius: 0.2rem;
}

#color-picker {
    background: #000000;
    border: 0.2rem solid #000000;
    border-radius: 0.3rem;
    display: grid;
    grid-template-columns: repeat(8, min-content);
    grid-auto-rows: min-content;
    margin: 0.5rem;
}

#color-picker .color-item {
    cursor: pointer;
    width: 0.8rem;
    height: 0.8rem;
    list-style-type: none;
    margin: 2px;
    border: 1px solid #DDD;
}

#color-picker .color-item:hover {
    border: 1px solid #666;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);
}

.hidden {
    display: none;
}
