:root {
    --event-depth: 1;
    --timecursor-depth: 2;
    --highlighted-event-depth: 2;
    --overlay-depth: 3;
}

body {
    display: grid;
    grid-template-columns: max-content max-content auto;
    font-family: "Roboto", Arial, sans-serif;
}

body .services {
    grid-row: 2;
    grid-column: 1;
}

.left-side {
    grid-row: 2;
    grid-column: 2;
}

.main-content {
    grid-row: 2;
    grid-column: 3;
}

.services div {
    margin: 1rem;
}

.services a {
    text-decoration: none;
    color: unset;
}

.hidden {
    display: none;
}
